body {
  padding: 50px;
  background: #313d4b;
  color: white;
  text-align:center;
}

hr {
  width: 75%;
  border-color: white;
}

h1 {
  margin-bottom:1em;
}

input[type=submit] {
  margin: 1.5em 0;
}

#successMessage {
  display:none;
  font-size:larger;
}

.dayfix-tile {
  background: white;
  margin: 20px;
  padding-top: 10px;
  width: 353px;
  max-width: 353px;
  border: solid black 4px;
  border-radius: 0.5rem;
  float: left;
}

.img-container {
  height: 350px;
  width: 347px;
  overflow: hidden;    
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-pic {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.joke-text {
  width: 353px;
  height: 85px;
  padding: 10px;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.tile-button {
  text-align: center!important;
  margin-bottom: 10px!important;
}